<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
   <link rel="stylesheet" href="/Stylesheet/style.css">

  </head>
  
  <body>
   <body>
    <!-- Header Section -->
    <header>
        <h1>Astha / N01580273</h1>
         

    </header>
    <!-- Content Section -->
    <main>
        {{{body}}}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>aasthavrty2000@gmail.com</p>
    </footer>
  </body>
</html>
