body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  header {
    background-color: #333; /* Dark grey background color */
    color: white; /* White text color */
    text-align: center; /* Center align text */
    padding: 20px 0; /* Add padding */
  }
  
  /* Style for footer */
  footer {
    background-color: #333; /* Dark grey background color */
    color: white; /* White text color */
    text-align: center; /* Center align text */
    padding: 10px 0; /* Add padding */
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Full width */
  }
  
  /* Style for main content */
  main {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    min-height: 100vh; /* Set minimum height to full viewport height */
  }
  .zero-reviews {
    background-color: #f89090; /* Light red background */
}