<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='Stylesheet' href='/Asn_2_Astha/public/Stylesheet/style.css' />
  </head>
  <body>
   <body>
    <!-- Header Section -->
  
    </footer>
  </body>
</html>
